{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

   


<div class="card">
    <div class="card-body">
    <h4>Editar postagem:</h4>
  <img src="https://uploadmpdecoracoes.s3.amazonaws.com/{{postagem.key}}" height="180" width="160" alt="Imagem do tema {{nome}}"><br> 
  <br>

<form action="/admin/postagem/edit" method="POST" enctype="multipart/form-data">
<input type="hidden" value="{{postagem._id}}" name="id">

    <label for="nome">Nome do Tema: </label>
    <input type="text" name="nome" class="form-control" value="{{postagem.nome}}" required><br>

    <label for="slugtema" class="mt-4">Slug do tema: </label>
    <select name="slugtema" class="custom-select" >
     
        {{#each slugtemas}}
             <option value="{{this._id}}">{{this.slugtema}}</option>
        {{else}}
        <option value="0">Nenhum slug registrado</option>
        {{/each}}

    </select><br>

<label for="categoria" class="mt-4">Categoria: </label>
    <select name="categoria" class="custom-select" required>
                    
                   
                    {{#each categorias}}
                    <option value="{{this._id}}">{{this.nome}}</option>
                    {{else}}
                    <option value="{{_id}}">{{nome}}</option>
                   
                    {{/each}}
 




       <!-- {{#each categorias}}
             <option value="{{this._id}}">{{this.nome}}</option>
        {{else}}
        <option value="0">Nenhuma categoria registrada</option>
        {{/each}}-->

    </select><br>

   <label for="modelo" class="mt-3">Modelo: </label>
   <select name="modelo" class="custom-select">
        {{#each modelos}}
              <option value="{{this._id}}">{{this.nome}}</option>
        {{else}}
        <option value="0">Nenhum modelo registrado</option>
        {{/each}}

    
   </select>
 <br>
<label for="file" class="mt-4">Selecione uma imagem: </label><br>
<img id="output" height="150px" width="150px"/><br> <br>
<input type="file"  name="file" id="file" accept="image/*" onchange="loadFile(event)"><br>


<button class="btn btn-success mt-3" type="submit">Salvar postagem</button>
</form>
</div>
</div>
<br>
<br>

<!--Script Preview Imagem-->
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>